{% extends ip_env|yesno:"" %}


{% load staticfiles %}
{% load i18n %}

{% block css%}
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "dist/css/AdminLTE.min.css" %}">
    <link rel="stylesheet" href="{% static "dist/css/skins/_all-skins.min.css" %}">
    <link rel="stylesheet" href="{% static "plugins/iCheck/flat/blue.css" %}">
    <link rel="stylesheet" href="{%static "css/ionicons.min.css" %}">
    <link rel="stylesheet" href="{% static "plugins/datatables/dataTables.bootstrap.css"%}">

    <link rel="stylesheet" href="{% static "css/select2.min.css"%}">
    <link rel="stylesheet" href="{% static "css/style.css"%}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{% static "js/html5shiv.min.js" %}"></script>
    <script src="{% static "js/respond.min.js" %}"></script>
    <![endif]-->
    <style>
        .nav-tabs {
            background-color: #eee;
        }
        .form-group {
            margin-top: 25px;
        }
        .notes {
        background-attachment: local;
        background-image: linear-gradient(to right, white 10px, transparent 10px),
                          linear-gradient(to left, white 10px, transparent 10px),
                          repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
        padding: 8px 10px;
    }
    </style>
{% endblock %}
{% block content %}
    <div class="fakeloader"></div>
    <div class="content-wrapper">
    <section class="content-header">
        <h1>
            <p>所处环境: <font color="red">{{ env_chinese }}</font></p>
            {% if conf_type == 1 %}
                主配置文件列表
            {% elif conf_type == 2 %}
                vhosts配置文件列表
            {% elif conf_type == 3 %}
                upstream配置文件列表
            {% elif conf_type == 4 %}
                模板配置文件列表
            {% elif conf_type == 5 %}
                限制管理配置文件列表
            {% endif %}
        </h1>

        <ol class="breadcrumb">
            <li class="active"><a href="/"><i class="fa fa-dashboard"></i> 首页</a></li>
            <li>配置文件列表</li>
        </ol>
    </section>

    <section class="content">
        <div class="col-xs-12">
            <div class="col-xs-12">
                <div class="box-header row">
                    <div class="col-xs-7" style="">
                        <a href="#addFile" role="button"  class="btn btn-success" data-toggle="modal">文本方式新增</a>
                        <a href="#addTemplateFile" role="button"  class="btn btn-success" data-toggle="modal">模板方式新增</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div id="project-content" class="nav-tabs-custom">
                    <div class="tab-content">
                        <div  id="project_manage">
                            <div class="box-body">
                                <table id="FileTable" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>文件名称</th>
                                            <th>文件目录</th>
                                            <th>创建时间</th>
                                            <th>修改时间</th>
                                            <th>上一次修改人</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% if result %}
                                        {% for item in result %}
                                            <tr role="row" class="">
                                            <td width="15%">{{ item.file_name }}</td>
                                            <td width="15%">{{ item.file_dir }}</td>
                                            <td width="15%">{{ item.gmt_created |date:"Y-m-d H:i:s"}}</td>
                                            <td width="15%">{{ item.gmt_modified |date:"Y-m-d H:i:s"}}</td>
                                            <td width="15%">{{ item.modifier}}</td>
                                            <td width="30%">
                                                <div class="btn-group">
                                                    <a href="/configfile/cat/{{ item.id }}/" class="btn btn-primary btn-xs" role="button"><i class="fa fa-fw fa-file-text"></i>查看</a>
                                                    <a href="/configfile/edit/{{ item.id }}/" class="btn btn-success btn-xs" role="button"><i class="fa fa-fw fa-cog"></i>编辑</a>
                                                    <a href="/configfile/rollback/{{ item.id }}/" class="btn btn-warning btn-xs" role="button"><i class="fa fa-fw fa-history"></i>回滚</a>
                                                    <button class="btn btn-danger btn-xs" name="file_delete" onclick="del_file({{ conf_type }}, {{ item.id }})"><i class="fa fa-fw fa-times"></i>删除</button>
                                                </div>
                                            </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="addFile" tabindex="-1" role="dialog" aria-labelledby="addFileLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 1000px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">文本方式新增配置文件</h4>
            </div>

            <div class="tab-content">
                <div class="tab-pane active">
                    <form class="form-horizontal" method="post" role="form">{% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">文件名称</label>

                            <div class="col-sm-4">
                                <input type="text" name="file_name" id="file_name" class="form-control" placeholder="字符串(必填)" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">文件目录</label>

                            <div class="col-sm-4">
                                <input type="text" name="file_dir" id="file_dir" class="form-control" placeholder="字符串(必填)" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">文件内容</label>

                            <div class="col-sm-6">
                                <textarea name="file_content" id="file_content" rows="20" class="notes" style="width: 700px;font-size:13pt;line-height:23pt;" required></textarea>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">关闭</button>
                            <button type="submit" class="btn btn-primary" id="add_button"
                                    name = "" onclick="add_file()">添加</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade" id="addTemplateFile" tabindex="-1" role="dialog" aria-labelledby="addTemplateFileLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 1000px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">模板方式新增配置文件</h4>
            </div>

            <div class="tab-content">
                <div class="tab-pane active">
                    <form class="form-horizontal" method="post" role="form">{% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">文件名称</label>

                            <div class="col-sm-4">
                                <input type="text" name="file_name_template" id="file_name_template" class="form-control" placeholder="字符串(必填)" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">文件目录</label>

                            <div class="col-sm-4">
                                <input type="text" name="file_dir_template" id="file_dir_template" class="form-control" placeholder="字符串(必填)" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">文件内容</label>

                            <div class="col-sm-6">
                                <textarea name="file_content_template" id="file_content_template" rows="{{ row_content }}" class="notes" style="width: 700px;font-size:13pt;line-height:23pt;" required>{{ template_content }}</textarea>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">关闭</button>
                            <button type="submit" class="btn btn-primary" id="add_template_button"
                                    name = "" onclick="add_template_file()">添加</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
{% endblock %}

{% block js %}
<script src="{%static "plugins/jQuery/jQuery-2.1.4.min.js" %}"></script>
<script src="{%static "js/auto-line-number.js" %}"></script>
<script src="{% static "js/jquery-ui.min.js" %}"></script>
<script src="{%static "dist/js/app.min.js" %}"></script>
<script src="{% static "plugins/datatables/jquery.dataTables.min.js" %}"></script>
<script src="{% static "plugins/datatables/dataTables.bootstrap.min.js" %}"></script>
<script src="{% static "js/myqccr.js" %}"></script>
<script src="{% static "js/select2.min.js" %}"></script>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $('select').select2();
    $("#configmenu").addClass("active");

    $("#file_content").setTextareaCount({
        color: "#",
        display: "inline-block",
    });
    $("#file_content_template").setTextareaCount({
        color: "#",
        display: "inline-block"
    });

    if ("{{ conf_type }}" == '1') {
        $("#master-file").addClass("active");
    } else if ("{{ conf_type }}" == '2') {
        $("#vhosts-file").addClass("active");
    } else if ("{{ conf_type }}" == '3') {
        $("#upstream-file").addClass("active");
    } else if ("{{ conf_type }}" == '4') {
        $("#template-file").addClass("active");
    } if ("{{ conf_type }}" == '5') {
        $("#allow-file").addClass("active");
    }
    $('#FileTable').DataTable();

    function del_file(conf_type, file_id) {
        var c = confirm("确定删除？");
        if (c==true) {
            $.ajax({
                type: "POST",
                dataType: "json",
                async: false,
                url: "/configfile/del/",
                data: {"conf_type": conf_type, 'file_id': file_id, "ip_env": "{{ ip_env }}",
                       'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function (result) {
                    if (result.code!=200){
                        alert(result.msg);
                    } else {
                        alert("删除文件成功");
                    }
                    window.location = "/configfile/show/{{ ip_env_base }}/{{ conf_type }}/";
                }
            })
        }
    }

    function add_file() {
        var file_name = $("#file_name").val();
        var file_dir = $("#file_dir").val();
        var file_content = $("#file_content").val();
        var conf_type = "{{ conf_type }}";
        $.ajax({
            type: "POST",
            dataType: "json",
            async: false,
            url: "/configfile/add/",
            data: {"file_name": file_name, "file_content": file_content, 'conf_type': conf_type,
                   "file_dir": file_dir, "ip_env": "{{ ip_env }}",
                   'csrfmiddlewaretoken': '{{ csrf_token }}'},
            beforeSend: function () {
                // 禁用按钮防止重复提交
                $("#add_button").attr({ disabled: "disabled" });
            },
            success: function (result) {
                if (result.code!=200){
                    alert(result.msg);
                } else {
                    alert("文本模式新增文件成功");
                }
                window.location = "/configfile/show/{{ ip_env_base }}/{{ conf_type }}/";
            }
        })
    }

    function add_template_file() {
        var file_name_template = $("#file_name_template").val();
        var file_dir_template = $("#file_dir_template").val();
        var file_content_template = $("#file_content_template").val();
        var conf_type = "{{ conf_type }}";
        $.ajax({
            type: "POST",
            dataType: "json",
            async: false,
            url: "/configfile/add/",
            data: {"file_name": file_name_template, "file_content": file_content_template, 'conf_type': conf_type,
                   "file_dir": file_dir_template, "ip_env": "{{ ip_env }}",
                   'csrfmiddlewaretoken': '{{ csrf_token }}'},
            beforeSend: function () {
                // 禁用按钮防止重复提交
                $("#add_template_button").attr({ disabled: "disabled" });
            },
            success: function (result) {
                if (result.code!=200){
                    alert(result.msg);
                } else {
                    alert("模板方式新增文件成功.");
                }
                window.location = "/configfile/show/{{ ip_env_base }}/{{ conf_type }}/";
            }
        })
    }
</script>
{% endblock %}
